.Menu {
  background: #f1f3f5;
  padding-top: 4rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
}

.Menu .menu-item {
  margin-left:1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  background :white;
  color: #f06595;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
}
